#slice-id-global-footer-1 {
  .section-content {
    padding: 90px 0px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    max-width: 400px;
    margin: 0 auto;
    font-weight: bold;
  }
  p {
    max-width: 620px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 400;
  }
  a {
    @include cta-button();
  }
}
