#contact {
  background-image: url("../../../images/ContactBackgroundNew.jpg");
  background-size: cover;
}
#download-home-brochures {
  background-image: url("../../../images/FormSubmitBackground.png");
  background-size: cover;
}
